<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.crecker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".law.activity.VideoActivity"></activity>
        <activity android:name=".law.activity.BrandingActivity" />
        <activity android:name=".mypage.notice.NoticeDetailActivity" />
        <activity android:name=".mypage.notice.NoticeActivity" />
        <activity
            android:name=".mypage.scrap.ScrapActivity"
            android:exported="true" />
        <activity android:name=".news.activity.NewsMoreActivity" />
        <activity android:name=".news.activity.NewsDetailActivity" />
        <activity android:name=".mypage.report.activity.IndiviualActivity" />
        <activity android:name=".mypage.advertise.activity.CertificationActivity" />
        <activity
            android:name=".mypage.report.ReportActivity"
            android:exported="true" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true" />
        <activity android:name=".mypage.setting.SelectCtgActivity" />
        <activity android:name=".mypage.setting.SettingActivity" />
        <activity
            android:name=".law.activity.ScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".law.activity.AnswerActivity"
            android:exported="true" />
        <activity
            android:name=".mypage.cash.CashActivity"
            android:exported="true" /> <!-- 광고 -->
        <activity
            android:name=".law.activity.LawActivity"
            android:exported="true" />
        <activity
            android:name=".ads.activity.AdsDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ads.category.CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".law.activity.QuestAcitivy"
            android:exported="true" />
        <activity
            android:name=".main.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".membership.register.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".membership.login.LogInActivity"
            android:exported="true" />
        <activity android:name=".ads.activity.ApplyActivity" />
        <activity android:name=".mypage.advertise.activity.MyAdvertiseActivity" />
        <activity android:name=".mypage.advertise.activity.MyAdsDetailActivity" />
    </application>

</manifest>