<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.crecker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".mypage.report.ReportActivity" android:exported="true"/>
        <activity
            android:name=".main.MainActivity"
            android:exported="true" />
        <activity android:name=".mypage.setting.SelectCtgActivity"></activity>
        <activity android:name=".mypage.setting.SettingActivity" />

        <activity
            android:name=".law.activity.ScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".law.activity.AnswerActivity"
            android:exported="true" />
        <activity
            android:name=".mypage.cash.CashActivity"
            android:exported="true" /> <!-- 광고 -->
        <activity
            android:name=".law.activity.LawActivity"
            android:exported="true" />
        <activity
            android:name=".ads.activity.AdsDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ads.category.CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".law.activity.QuestAcitivy"
            android:exported="true" />
        <activity
            android:name=".main.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".membership.register.SignUpActivity" android:exported="true"/>
        <activity android:name="org.techtown.crecker.membership.login.LogInActivity" android:exported="true" >
        </activity>

        <activity android:name=".ads.activity.ApplyActivity" />
        <activity android:name=".mypage.advertise.MyAdvertiseActivity" />
    </application>

</manifest>